.equipo-container {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center; /* Para centrar el contenido horizontalmente */
gap: 20px;
padding: 20px
}

.equipo-card {
background-color: rgb(200, 236, 246);
color:black;
border: 1px solid #ccc;
padding: 20px;
margin-bottom: 20px;
width: 200px; /* Ajusta el ancho del contenedor de la tarjeta */
text-align: center;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 1)
}

.equipo-card img {
width: 100%; /* Ajusta la imagen al ancho del contenedor */
height: auto; /* Mantiene la proporción de la imagen */    
border-radius: 200px;     
}

