.grid-container {
  display: grid;
  gap: 5px;
  width: 100%;
  margin-top: auto;
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}

footer {
    text-align: center;
    font-size: 1.2em;
    color: #706f6f;
    background-color: #f1f1f1;  
    padding: 10px;
    text-align: center;
    margin-top: 20px;      
}

.copyright {
    font-size: 0.8em;
    color: #111111 !important;
    text-align: center;
}

.footlink {
  color: white !important;
  text-decoration: none;
  transition-duration: .4s;
}

.footlink:hover {
  transform: scale(1.4);
  transition-duration: .4s;
  text-decoration: none;
}

.footlist .footlink {
  font-size: 2rem;
  padding: 10px;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.footlist .footlink:hover {
  transform: translateY(-3px);
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.footlist .footlink {
  font-size: 2rem;
  padding: 10px;
  transition: transform 0.3s ease;
}

.footlist .footlink:hover {
  transform: translateY(-3px);
}

/* Facebook */
.footlist .footlink.fa-facebook {
  color: #1877F2 !important;
}

/* YouTube */
.footlist .footlink.fa-youtube {
  color: red !important;
}

/* Instagram sin sombra */
.footlist .footlink.fa-instagram {
  font-size: 2rem;
  padding: 10px;
  background: radial-gradient(circle at 30% 107%, 
    #fdf497 0%, #fdf497 5%, 
    #fd5949 45%, #d6249f 60%, 
    #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* WhatsApp */
.footlist .footlink.fa-whatsapp {
  color: green !important;
}

/********************************************** Celulares ********************************************************/
@media only screen and (max-width: 650px) {
  .grid-container {
    grid-template-columns: 1fr;
    font-size: small;
    padding-top: 20px;
  }

 .copyright {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/************************************************ Tablets *********************************************************/
@media only screen and (min-width: 651px) and (max-width: 850px) {
  .grid-container {
    font-size: small;
    grid-template-columns: repeat(3, 1fr);
    font-size: medium;
  }
  
  .copyright {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .footlist {
    justify-content: center;
  }
}

/************************************************** Notebooks ****************************************************/
@media only screen and (min-width: 851px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    font-size: x-large;
  }
  
  .grid-item {
    padding: 10px;
}
  
.copyright {
  font-size: 0.9rem;
  color: #706f6f;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

}
