.galeria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 10px;
}

@media screen and (min-width: 500px) {
  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  .galeria {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}