/* header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #323235;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 20vh; /* Ajusta según el tamaño de tu logo */
  margin-right: 15px;
}

.nombre {
  font-size: 1.8em;
  color: #e44d26; /* Color de tu marca */
  margin: 0;
}

.nav {
  display: flex;
  gap: 25px; /* Espacio entre los elementos de navegación */
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.1em;
  padding: 5px 0;
  position: relative; /* Importante para el posicionamiento absoluto del contador */
  transition: color 0.3s ease;
}

.nav a:hover,
.nav a.active-link {
  color: #e44d26; /* Color al pasar el mouse o activo */
}

/* Estilos específicos para el enlace del carrito */
.carrito-nav-link {
  display: flex; /* Para alinear el icono y el texto */
  align-items: center;
  position: relative; /* Necesario para posicionar el contador absolutamente */
  padding-right: 20px; /* Deja espacio para el contador */
}

.carrito-icono {
  font-size: 1.4em;
  margin-right: 5px;
}

.carrito-text {
  margin-right: 5px; /* Espacio entre el texto "Carrito" y el contador */
}

.contador {
  background-color: #e44d26; /* Color de fondo del contador (rojo/naranja) */
  color: white;
  border-radius: 50%; /* Forma circular */
  padding: 2px 7px; /* Ajusta el padding para el tamaño del número */
  font-size: 0.75em; /* Tamaño de fuente más pequeño */
  font-weight: bold;
  position: absolute; /* Posicionamiento absoluto */
  top: 25px; /* Ajusta la posición vertical */
  right: -18px; /* Ajusta la posición horizontal */
  min-width: 18px; /* Asegura un ancho mínimo para números de un dígito */
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2); /* Sutil sombra */
}

/* Estilos para el enlace de login/admin */
.login-nav-link {
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-decoration: none; /* Asegura que no tenga subrayado */
}

/*.login-nav-link:hover {
  background-color: #0056b3; 
  color: white;
}*/

.admin-nav-link {
  background-color: #28a745; /* Verde */
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-decoration: none; /* Asegura que no tenga subrayado */
}

.admin-nav-link:hover {
  background-color: #218838; /* Verde más oscuro al pasar el mouse */
  color: white; /* Mantener el color del texto blanco */
}


/* Media queries para responsividad (ejemplo) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px 15px;
  }

  .nav {
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .logo-container {
    margin-bottom: 10px;
  }
}
